:root {
	--bg-color-first: #FFFDFB;
	--bg-color-second: #FFF1EC;
	--ff-color-first: #333333;
	--ff-color-second: #9C9C9C;
	--ff-color-third: #9A7248;
	--ff-color-fourth: #AC7136;
	--ff-color-fifth: #FFFFFF;
	--lg-color-first:
		linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,
		rgba(13, 10, 0, 0.422006) 100%);
}
