@import 'variables/colors';
@import 'variables/sizes';
@import 'variables/fonts';

*,
ul,
li,
p,
a {
	box-sizing : border-box;
	padding    : 0;
	margin     : 0;
}

html {
	font-size  : var(--module);
	background : var(--bg-color-first);
	color      : var(--ff-color-first);
}

body {
	font-family : var(--font-pt-sans);
	font-weight : 400;
	font-size   : 2rem;
	line-height : 2.5rem;
}

@import 'common';
